
h1, h2{
    font-family: sans-serif;
    font-size: 12pt;
}

/* Nav */

.app-name{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
    border-bottom: 5px solid transparent;

  }
  
  li a {
    font-family: sans-serif;

    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  
/* Mobile Nav */
/* .menu-icon{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
} */

/* .menu{
    position: absolute;
    top: 0;
    left: 10;
    margin: 10px;
    border: none;
    background-color: transparent;
} */

/* .menu-section{
    text-align: left;
    background-color: white;
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
}

.nav-button{
    display: block;
    height: 50px;
    width: 100%;
    border: none;
    background-color: whitesmoke;
    margin-bottom: 5px;
    font-weight: bold;
}

.nav-button:focus{
    outline: none;
}
 */

/* Calculator styles */
.answer{
    font-size: 20pt;
    padding: 5px;
}

.answer-display{
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

body{
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

.button-display{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button-display > button{
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
    border: 1px solid transparent;
    margin: 2px;
    border-radius: 10px;
}

.button-display > button:hover{
    filter: brightness(90%);
}

.calculator{
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
}

.close-menu-button{
    border: none;
    background-color: darkorange;
    bottom: 0;
    color: white;
    display: block;
    height: 50px;
    font-weight: bold;
    position: absolute;
    width: 100%;
}

main{
    display: flex;
    justify-content: center;
}

.zero-button{
    grid-column: 1/3;
}

/* device styles
@media only screen and (max-width: 425px) {
    nav{
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    nav{
        display: block;
    }
    .menu{
        display: none;
    }
    .close-menu-button{
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    nav{
        display: none;
    }
} */