#default-style-button{
    border-color: darkorange;
}

.answer-display{
    background-color: #78AB46;
}

body{
    background-color: lightgray;
}

.button-display > button{
    border-right: 2px #696969 solid;
    border-bottom: 2px #696969 solid ;
}

.calculator{
    background-color: grey;
    border-right: 10px #696969 solid;
    border-bottom: 10px #696969 solid ;
}



.menu{
    background-color: darkorange;
    border-radius: 5px;
}

.menu-icon{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.menu-bar{
    background-color: darkorange;
}

.zero-button{
    background-color: darkorange;
    border: 1px solid darkorange;
    color: white;
}